/* This formatting is for index page only */
/* Will not effect other pages */

/* Formats the box holding everything */
#everythingbox {
  width: 100vw;
}

#insulation {
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "hero" "products" "company" "where-to-buy" "share" "footer";
}

#hero {
  grid-area: hero;
  height: 100vh;
  background-image: url(../images/watch8.png);
  background-color: var(--black);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-announcement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Castellar", "Diplomata SC", cursive;
  font-size: 4rem;
  font-weight: 700;
  background-image: url(../images/gold-background.jpg);
  background-size: stretch;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

#product-carousel-box {
  grid-area: products;
  margin: 2rem 0;
}

#product-carousel-insulation {
}

.slider-container-main {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.arrow-main {
  font-size: 2rem;
  margin: 0 1rem;
}

.container-main {
  flex-wrap: nowrap;
  overflow-x: scroll;
  max-width: 90%;
  max-height: 100%;
  display: flex;
  flex: row;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-main::-webkit-scrollbar {
  height: 0.5rem;
  width: 2px;
  border: 1px solid #d5d5d5;
  background-color: var(--black);
}

.container-main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.container-main::-webkit-scrollbar-thumb {
  background-image: url(../images/gold-background.jpg);
  background-size: cover;
  outline: 1px solid var(--black);
}

.container-main a {
  text-decoration: none;
}

.thumbnail-main {
  width: 40vw;
  flex: 0 0 auto;
  object-fit: cover;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  transform: scale(0.95);
  transition: all 0.3s;
}

.thumbnail-main:hover {
  transform: scale(1);
}

.thumbnail-main img {
  width: 100%;
  border-bottom: 1px solid black;
}

.product-details-main {
  padding: 1rem;
  text-align: center;
}

.product-details-main h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.product-details-main p {
  font-size: 1.25rem;
  color: var(--black);
  font-weight: 700;
}

#company-info-name-box {
  grid-area: company;
  width: 100vw;
  padding: 3rem 2rem;
}

#company-info-insulation {
  display: flex;
  flex-direction: column;
}

#company-name {
  font-family: "Castellar", "Diplomata SC", cursive;
  text-align: center;
  font-size: 2rem;
}

#company-info {
  display: flex;
  flex-direction: column;
}

#company-info-img {
  width: 60%;
  max-height: 70vh;
  padding: 1rem;
  margin: auto;
}

#company-info-text {
}

/* Responsive CSS */

/* Changes settings at 768px screen size to 1023px screen size*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .thumbnail-main {
    width: 30vw;
  }

  #company-name {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  #company-info {
    flex-direction: row;
  }
}

/* Changes settings at 1024px screen size */
@media only screen and (min-width: 1024px) {
  .thumbnail-main {
    width: 30vw;
  }

  #company-name {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }

  #company-info {
    flex-direction: row;
  }

  #company-info-text {
    width: 50%;
  }
}
